body, span {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

nav, footer {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.menu {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-item {
    margin: 0 10px;
}

.menu-item a {
    display: inline-block;
    text-decoration: none;
    color: #222;
}

.menu-item a:hover {
    text-decoration: underline;
}

.menu-button {
    border-radius: 4px;
    background: #4285f4;
}

.menu-button:hover {
    box-shadow: 0px 1px 2px 0px #4285f4;
}

.menu-icon {
    margin: 0;
}

.menu-icon a {
    padding: 8px;
    margin: 0;
    line-height: 0;
}

.menu-icon:hover {
    background:rgba(60,64,67,0.08);
    border-radius: 100%;
}

.menu-button a {
    padding: 10px 24px;
    margin: 0;
    color: #fff;
}

.menu-button a:hover {
    text-decoration: none;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 0.3;
    text-align: center;
}

.row {
    width: 571px;
    padding: 12px;
}

.logo {
    width: 272px;
}

input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 10px 18px;
}

input[type=text] {
    width: 100%;
    padding: 0.5em;
    border-radius: 24px;
    border: 1px solid #ccc;
}

input[type=submit] {
    margin: 4px 11px;
    border: 1px solid #fff;
    border-radius: 3px;
    background-color: #efefef;
    color: rgb(100, 100, 100);
}

input[type=submit]:hover {
    color: #222;
    border: 1px solid #c6c6c6;
}

footer {
    margin-top: auto;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

footer .menu-item {
    margin: 0 15px;
}

footer .menu-item a {
    color: #5f6368;
}