body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.row {
    width: 571px;
    padding: 12px;
}

.logo {
    width: 272px;
}

input[type=text] {
    width: 100%;
    padding: 0.5em;
    border-radius: 24px;
    border: 1px solid #ccc;
}

input[type=submit] {
    margin: 4px 11px;
    padding: 0.5em 1em;
    border: 1px solid #fff;
    border-radius: 3px;
    background-color: #efefef;
    color: rgb(100, 100, 100);
}

input[type=submit]:hover {
    color: #222;
    border: 1px solid #c6c6c6;
}